<!DOCTYPE html>

<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% spaceless %}
      {% if wp_title %}
        {{ wp_title }} — {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    {% endspaceless %}</title>

    {{ wp_head }}
  </head>

  <body class="{{ body_class }} lh-copy transport dark-gray">
    <header>
      <div class="mw8 center ph3 pv4">
        {% include "header-nav.twig" %}
      </div>

      <div class="bg-blue">
        <div class="mw8 center ph3 pv5">
          <h1 class="f1 fw6 lh-title white">
            {% block title %}
              {{ site.description }}
            {% endblock %}
          </h1>
        </div>
      </div>
    </header>

    <main>
      <div class="mw8 center ph3 mv5">
        <div class="mt0 mb5 mb0-m">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>

    <footer>
      <div class="bg-dark-gray">
        <div class="mw8 center ph3 pv4">
          <div class="mb4">
            {% include "footer-nav.twig" %}
          </div>

          <div class="f7 fw6 ttu tracked gray">
            © {{ "now" | date("Y") }} {{ site.title }}
          </div>
        </div>
      </div>
    </footer>

    {{ wp_footer }}
  </body>
</html>
