<!DOCTYPE html>

<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% spaceless %}
      {% if wp_title %}
        {{ wp_title }} — {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    {% endspaceless %}</title>

    {{ wp_head }}
  </head>

  <body class="{{ body_class }} lh-copy transport dark-gray">
    <header>
      <div class="mw8 center ph3 pv4">
        {% include "components/menu-header.twig" %}
      </div>

      <div class="bg-blue">
        <div class="mw8 center ph3 pv4">
          <h1 class="mw7 f2 fw6 lh-title white">
            {% block header_title %}
              {{ wp_title }}
            {% endblock %}
          </h1>
        </div>
      </div>
    </header>

    <main>
      <div class="mw8 center ph3 mt4 mb5">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="bg-dark-gray">
        <div class="mw8 center ph3 pv4">
          <div class="mb4">
            {% include "components/menu-footer.twig" %}
          </div>

          {% set metadata = "© " ~ "now" | date("Y") ~ " " ~ site.title %}
          {% include "components/metadata.twig" with { "content": metadata } %}
        </div>
      </div>
    </footer>

    {{ wp_footer }}
  </body>
</html>
