<!DOCTYPE html>

<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{% spaceless %}
      {% if wp_title %}
        {{ wp_title }} — {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    {% endspaceless %}</title>

    {{ wp_head }}
  </head>

  <body class="{{ body_class }} lh-copy transport dark-gray">
    <div class="">
      <header class="">
        <div class="mw8 center pv4 ph3">
          {% include "nav.twig" %}
        </div>

        <div class="bg-blue">
          <div class="mw8 center pv4 ph3">
            <h1 class="mv3 f1 lh-title fw6 white">
              {% block title %}{{ site.title }}{% endblock %}
            </h1>
          </div>
        </div>
      </header>

      <div class="pv4">
        <div class="mw8 center ph3">
          <main class="mt0 mb5 mb0-m">
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>

      <div class="bg-dark-gray">
        <footer class="mw8 center pv3 ph3">
          {% block footer %}
            <div class="f7 fw6 ttu tracked gray">© {{ "now" | date("Y") }} {{ site.title }}</div>
          {% endblock %}
        </footer>
      </div>
    </div>

    {{ wp_footer }}
  </body>
</html>
