{% extends "page.twig" %}

{% set search_member_category = (member_category) ? member_category_plural : "professionals and companies" %}

{% block header_title %}
  {{ wp_title }}{% if member_category %}: {{ member_category_plural | title }}{% endif %}
{% endblock %}

{% block page_content %}
  <nav class="flex-m mb4">
    <a class="dib mb3 f3 b lh-title" href="{{ directory_link }}">All</a>

    <div class="ml3-m">
      <a class="dib mb3 f3 b lh-title" href="{{ companies_link }}">Companies</a>
    </div>

    <div class="ml3-m">
      <a class="dib mb3 f3 b lh-title" href="{{ professionals_link }}">Professionals</a>
    </div>
  </nav>

  <section class="mb5">
    {% include "components/title.twig" with { "content": "Search" } %}

    <p class="mb3">
      Search for {{ search_member_category }} in the {{ site.title }} directory.
    </p>

    <nav class="mb3">
      <div class="flex-l flex-wrap-l">
        {% for category_slug, category in industry_categories %}
          <div class="mr3-l mb2-l">
            <a href="{{ base_path }}/search/filter:{{ category_slug }}">{{ category }}</a>
          </div>
        {% endfor %}
      </div>
    </nav>

    {% include "components/search-form.twig" with {
      "search_placeholder": "Search for " ~ search_member_category ~ "…"
    } %}
  </section>

  <div class="mb5">
    {% include "components/title.twig" with { "content": "Members" } %}

    {% if posts %}
      {% if member_category == "company" %}
        {% include "components/posts-grid.twig" with { "teaser_template": "components/teaser-member-company.twig" } %}
      {% else %}
        {% include "components/posts-grid.twig" with { "teaser_template": "components/teaser-member-professional.twig" } %}
      {% endif %}
    {% else %}
      <div>
        No members were found. Please modify your search parameters and try again.
      </div>
    {% endif %}
  </div>
{% endblock %}
