{% extends "page.twig" %}

{% set member_category_plural = (member_category == "company") ? "companies" : "professionals" %}

{% block header_title %}
  {{ wp_title }}: {{ member_category_plural | title }}
{% endblock %}

{% block content %}
  {{ parent() }}

  <nav class="flex-m mb4">
    <a class="dib mb3 f3 b lh-title" href="{{ companies_link }}">Companies</a>

    <div class="ml3-m">
      <a class="dib mb3 f3 b lh-title" href="{{ professionals_link }}">Professionals</a>
    </div>
  </nav>

  <section class="mb5">
    {% include "components/title.twig" with { "content": "Search" } %}

    <p class="mb3">
      Search for {{ member_category_plural }} in the {{ site.title }} directory.
    </p>

    <nav class="mb3">
      <div class="flex-l flex-wrap-l">
        {% for category_slug, category in industry_categories %}
          <div class="mr3-l mb2-l">
            <a href="?s=filter={{ category_slug }}">{{ category }}</a>
          </div>
        {% endfor %}
      </div>
    </nav>

    {% include "components/search-form.twig" with { "search_placeholder": "Search for " ~ member_category_plural ~ "…" } %}
  </section>

  <div class="mb5">
    {% include "components/title.twig" with { "content": "Members" } %}

    {% if posts %}
      {% if member_category == "company" %}
        {% include "components/post-list.twig" with { "teaser_template": "components/teaser-member-company.twig" } %}
      {% else %}
        {% include "components/post-list.twig" with { "teaser_template": "components/teaser-member-professional.twig" } %}
      {% endif %}
    {% else %}
      <div>
        No members were found. Please modify your search parameters and try again.
      </div>
    {% endif %}
  </div>

  {% include "components/join-callout.twig" %}
{% endblock %}
