<nav class="flex justify-between items-end">
  <div class="flex-auto flex items-end">
    <a class="dib f2 fw6 lh-solid no-underline" href="{{ site.url }}">
      <img style="min-width: 192px;" class="db" src="{{ theme.link }}/images/logo.svg" alt="MedMates">
    </a>
  </div>

  <section class="dib dn-l ml3 state-hide-child" id="mini-menu">
    <span class="db f3 lh-solid dark-gray hover-gray no-underline">
      <img style="min-width: 36px;" class="db" src="{{ theme.link }}/images/icon-menu.svg" alt="Menu" title="Menu">
    </span>

    <div style="left: 0;" class="child absolute w-100 pv4 ph3 bg-white shadow-6">
      {% for item in menu.get_items %}
        <div>
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
        </div>
      {% endfor %}

      <div>
        {% if user %}
          <a class="dib f3 dark-gray hover-gray no-underline" href="/directory/{{ user.id }}/">Profile</a>
        {% else %}
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ function("wp_login_url", site.link) }}">Log&nbsp;In</a>
        {% endif %}
      </div>

      <div>
        <a class="dib f3 dark-gray hover-gray no-underline" href="/search/">Search</a>
      </div>
    </div>
  </section>

  {% for item in menu.get_items %}
    <section class="dn db-l ml3 mr2 hide-child">
      <h1 class="ma0 f3 fw4 lh-solid">
        <a class="dib dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
      </h1>

      {% if item.get_children %}
        <div class="child absolute mt1 nl3 pa3 pt2 bg-white shadow-6">
          <div class="pt1"></div>
          {% for subitem in item.get_children %}
            <div>
              <a class="dib" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  {% endfor %}

  {% if user %}
    <a class="dn dib-l ml3 mr2 f3 lh-solid dark-gray hover-gray no-underline" href="/directory/{{ user.id }}/">Profile</a>
  {% else %}
    <a class="dn dib-l ml3 mr2 f3 lh-solid dark-gray hover-gray no-underline" href="{{ function("wp_login_url", site.link) }}">Log&nbsp;In</a>
  {% endif %}

  <a class="dn dib-l ml3 f3 lh-solid dark-gray hover-gray no-underline" href="/search/">
    <img style="min-width: 24px;" class="db" src="{{ theme.link }}/images/icon-search.svg" alt="Search" title="Search">
  </a>
</nav>
