<nav class="flex justify-between items-end">
  <div class="flex-auto">
    <a class="db" href="{{ site.url }}">
      <img class="db" src="{{ theme.link }}/images/logo.svg" width="184" alt="MedMates">
    </a>
  </div>

  <section class="dn-l ml3">
    <a class="dib" href="">
      <img class="db" src="{{ theme.link }}/images/icon-menu.svg" height="27" alt="Menu" title="Menu">
    </a>

    <div style="left: 0;" class="child absolute w-100 pv4 ph3 bg-white shadow-6">
      {% for item in menu.get_items %}
        <div>
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
        </div>
      {% endfor %}

      <div>
        {% if user %}
          <a class="dib f3 dark-gray hover-gray no-underline" href="/directory/{{ user.id }}/">Profile</a>
        {% else %}
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ function("wp_login_url", site.link) }}">Log&nbsp;In</a>
        {% endif %}
      </div>

      <div>
        <a class="dib f3 dark-gray hover-gray no-underline" href="/search/">Search</a>
      </div>
    </div>
  </section>

  {% for item in menu.get_items %}
    <section class="dn db-l hide-child ml3 mr2">
      <h1 class="ma0 nb2 f3 fw4">
        <a class="db dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
      </h1>

      {% if item.get_children %}
        <div class="child absolute mt2 nl3 pa3 pt2 bg-white shadow-6">
          {% for subitem in item.get_children %}
            <div>
              <a class="dib" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  {% endfor %}

  {% if user %}
    <a class="dn db-l ml3 mr2 nb2 f3 dark-gray hover-gray no-underline" href="/directory/{{ user.id }}/">Profile</a>
  {% else %}
    <a class="dn db-l ml3 mr2 nb2 f3 dark-gray hover-gray no-underline" href="{{ function("wp_login_url", site.link) }}">Log&nbsp;In</a>
  {% endif %}

  <a class="dn db-l ml3" href="/search/">
    <img class="db" src="{{ theme.link }}/images/icon-search.svg" height="20" alt="Search" title="Search">
  </a>
</nav>
