{% extends "base.twig" %}

{% block content %}
  <article>
    <div class="flex-m mb4">
      {% if member.avatar %}
        <img class="dib mb3 mb0-m" src="{{ member.avatar(224) }}" width="224" height="224" alt="">
      {% endif %}

      <div class="ml3-m">
        {% block member_details %}
        {% endblock %}

        {% if member.user_url or member.facebook_url or member.twitter_url or member.linkedin_url %}
          <div>
            {% if member.user_url %}
              <a href="{{ member.user_url }}" target="_blank">Website</a>
            {% endif %}

            {% if member.facebook_url %}
              <a href="{{ member.facebook_url }}" target="_blank">Facebook</a>
            {% endif %}

            {% if member.twitter_url %}
              <a href="{{ member.twitter_url }}" target="_blank">Twitter</a>
            {% endif %}

            {% if member.linkedin_url %}
              <a href="{{ member.linkedin_url }}" target="_blank">LinkedIn</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if member.description %}
      <div class="measure-wide">
        {{ member.description | wpautop }}
      </div>
    {% endif %}
  </article>
{% endblock %}
