{% extends "member.twig" %}

{% block member_details %}
  {% if post.job_title %}
    <div>
      {{ post.job_title }}
    </div>
  {% endif %}

  {% if post.job_functions %}
    <div>
      {{ post.job_functions }}
    </div>
  {% endif %}

  {% if post.company_affiliation %}
    <div>
      {{ post.company_affiliation }}
    </div>
  {% endif %}
{% endblock %}

{% block member_contact %}
  {% if post.user_email or post.phone_number %}
    <section class="mb4">
      {% include "components/title.twig" with {"content": "Contact Information"} %}

      {% if post.user_email %}
        <div>
          <a href="mailto:{{ post.user_email }}">{{ post.user_email }}</a>
        </div>
      {% endif %}

      {% if post.phone_number %}
        <div>
          {{ post.phone_number }}
        </div>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
