{% extends "member.twig" %}

{% block member_details %}
  {% if post.development_stage %}
    <div>
      {{ post.get_field("development_stage").label }}
    </div>
  {% endif %}

  {% if post.number_of_employees %}
    <div>
      {{ post.number_of_employees }} Employees
    </div>
  {% endif %}

  {% if post.address %}
    <address class="mt3">
      {{ post.get_field("address") }}
    </address>
  {% endif %}
{% endblock %}

{% block member_contact %}
  {% if post.contact_name %}
    <section>
      {% include "components/title.twig" with { "content": "Point of Contact" } %}

      <div>
        {{ post.contact_name }}
      </div>

      {% if post.contact_email %}
        <div>
          <a href="mailto:{{ post.contact_email }}">{{ post.contact_email }}</a>
        </div>
      {% endif %}

      {% if post.contact_phone_number %}
        <div>
          {{ post.contact_phone_number }}
        </div>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
