{% extends "page.twig" %}

{% block content %}
  <article>
    {% if post.content %}
      <section class="mw7" id="mission">
        {% include "components/title.twig" with { "content": "Mission" } %}

        <div>
          {{ post.content }}
        </div>
      </section>
    {% endif %}

    {% if post.what_we_do %}
      <section class="mw7" id="what-we-do">
        {% include "components/title.twig" with { "content": "What We Do" } %}

        <div>
          {{ post.what_we_do }}
        </div>
      </section>
    {% endif %}
    </section>

    {% if post.history %}
      <section class="mw7" id="history">
        {% include "components/title.twig" with { "content": "History" } %}

        <div>
          {{ post.history }}
        </div>
      </section>
    {% endif %}

    {% set partners = post.get_field("partners") %}
    {% if partners %}
      <section>
        {% include "components/title.twig" with {"content": "Partners" } %}

        <div class="flex-m flex-wrap-m">
          {% for partner in partners %}
            <div class="flex-m justify-center-m items-center w5 w-50-m w-33-l pv3 pa3-m pa4-l">
              <a href="{{ partner.url }}" target="_blank"><img class="dib grayscale"
                 src="{{ TimberImage(partner.logo).src("medium") }}"
                 title="{{ partner.name }}" alt="{{ partner.name }}"></a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if post.sponsors %}
      <section>
        {% include "components/title.twig" with {"content": "Sponsors" } %}

        {% set sponsor_tiers = {
          "platinum": "Platinum",
          "gold": "Gold",
          "silver": "Silver",
          "media": "Media"
        } %}

        {% for tier, tier_label in sponsor_tiers %}
          {% set sponsors = post.get_field(tier ~ "_sponsors") %}

          {% if sponsors %}
            <h2 class="mb3">
              {% include "components/metadata.twig" with { "content": tier_label } %}
            </h2>

            <div class="flex-m flex-wrap-m">
              {% for sponsor in sponsors %}
                <div class="flex-m justify-center-m items-center-m w5 w-33-m w-25-l pv3 pa3-m pa4-l">
                  <a href="{{ sponsor.url }}" target="_blank"><img class="dib grayscale"
                     src="{{ TimberImage(sponsor.logo).src("medium") }}"
                     title="{{ sponsor.name }}" alt="{{ sponsor.name }}"></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </section>
    {% endif %}
  </article>
{% endblock %}
