{% extends "page.twig" %}

{% block content %}
  <article>
    {% if post.content %}
      <section class="mw7 mb4" id="mission">
        {% include "components/title.twig" with { "content": "Mission" } %}

        <div>
          {{ post.content }}
        </div>
      </section>
    {% endif %}

    {% if post.what_we_do %}
      <section class="mw7 mb4" id="what-we-do">
        {% include "components/title.twig" with { "content": "What We Do" } %}

        <div>
          {{ post.what_we_do }}
        </div>
      </section>
    {% endif %}
    </section>

    {% if post.history %}
      <section class="mw7 mb4" id="history">
        {% include "components/title.twig" with { "content": "History" } %}

        <div>
          {{ post.history }}
        </div>
      </section>
    {% endif %}

    {% set partners = post.get_field("partners") %}
    {% if partners %}
      <section class="mb4">
        {% include "components/title.twig" with {"content": "Partners" } %}

        <div class="flex flex-wrap">
          {% for partner in partners %}
            <div class="flex justify-center items-center w-33 ph4">
              <a href="{{ partner.url }}"><img class="dib" src="{{ TimberImage(partner.logo).src("medium") }}"
                 target="_blank" title="{{ partner.name }}" alt="{{ partner.name }}"></a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if post.sponsors %}
      <section>
        {% include "components/title.twig" with {"content": "Sponsors" } %}

        {% set sponsor_tiers = {
          "platinum": "Platinum",
          "gold": "Gold",
          "silver": "Silver",
          "media": "Media"
        } %}

        {% for tier, tier_label in sponsor_tiers %}
          {% set sponsors = post.get_field(tier ~ "_sponsors") %}

          {% if sponsors %}
            <h2 class="mb3">
              {% include "components/metadata.twig" with { "content": tier_label } %}
            </h2>

            <div class="flex flex-wrap mb4">
              {% for sponsor in sponsors %}
                <div class="flex justify-center items-center w-25 ph4">
                  <a href="{{ sponsor.url }}"><img class="dib" src="{{ TimberImage(sponsor.logo).src("medium") }}"
                    target="_blank" title="{{ sponsor.name }}" alt="{{ sponsor.name }}"></a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </section>
    {% endif %}
  </article>
{% endblock %}
