<nav class="flex justify-between items-end">
  <div class="flex-auto flex-no-shrink flex items-end">
    <a class="logo dib f3 b lh-solid no-underline" href="{{ site.url }}">
      <span>{{ site.title }}</span>
    </a>
  </div>

  <section class="flex-no-shrink dib dn-l ml3 state-hide-child" id="mini-menu">
    <span class="icon icon-menu db f3 lh-solid dark-gray hover-gray no-underline">
      <span>Menu</span>
    </span>

    <div style="left: 0;" class="z-max child absolute w-100 pv4 ph3 bg-white shadow-6">
      {% for item in menu.get_items %}
        <div>
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
        </div>

        {% if loop.last %}
          <div>
            {% if user %}
              <a class="dib f3 dark-gray hover-gray no-underline" href="{{ profile_link }}">Profile</a>
            {% else %}
              <a class="dib f3 dark-gray hover-gray no-underline" href="{{ login_link }}">Log&nbsp;In</a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}

      <div>
        <a class="dib f3 dark-gray hover-gray no-underline" href="{{ search_link }}">Search</a>
      </div>
    </div>
  </section>

  {% for item in menu.get_items %}
    <section class="dn db-l ml3 mr2 hide-child">
      <h1 class="mv0 f3 normal lh-solid">
        <a class="dib dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
      </h1>

      {% if item.get_children %}
        <div class="child absolute mt1 nl3 pa3 pt2 bg-white shadow-6">
          <div class="pt1"></div>
          {% for subitem in item.get_children %}
            <div>
              <a class="dib" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </div>

            {% if loop.last and item.title == "Membership" %}
              {% if not user %}
                <div>
                  <a class="dib" href="{{ join_link }}">Join</a>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </section>

    {% if loop.last %}
      {% if user %}
        <section class="dn db-l ml3 mr2 hide-child">
          <h1 class="mv0 f3 normal lh-solid">
            <a class="dib dark-gray hover-gray no-underline" href="{{ profile_link }}">Profile</a>
          </h1>

          <div class="child absolute mt1 nl3 pa3 pt2 bg-white shadow-6">
            <div class="pt1"></div>
            <div>
              <a class="dib" href="{{ edit_profile_link }}">Edit Profile</a>
            </div>
            <div>
              <a class="dib" href="{{ logout_link }}">Log&nbsp;Out</a>
            </div>
          </div>
        </section>
      {% else %}
        <a class="dn dib-l ml3 mr2 f3 lh-solid dark-gray hover-gray no-underline" href="{{ login_link }}">Log&nbsp;In</a>
      {% endif %}
    {% endif %}
  {% endfor %}

  <a class="icon icon-search flex-no-shrink dn dib-l ml3 f3 lh-solid dark-gray hover-gray no-underline" href="{{ search_link }}">
    <span>Search</span>
  </a>
</nav>
