<article class="flex">
  {% if post.avatar %}
    <div class="flex-no-shrink mr3 mr4-m">
      <a href="{{ post.link }}">
        <img class="db" src="{{ post.avatar(128) }}" width="128" height="128" alt="">
      </a>
    </div>
  {% endif %}

  <div>
    {% include "components/subtitle.twig" with { "content": post.display_name, "color": "blue" } %}

    {% if post.job_title or post.user_email or post.phone_number %}
      {% if post.job_title %}
        <div>
          {{ post.job_title }}
        </div>
      {% endif %}

      {% if post.user_email %}
        <div>
          <a href="mailto:{{ post.user_email }}">{{ post.user_email }}</a>
        </div>
      {% endif %}

      {% if post.phone_number %}
        <div>
          {{ post.phone_number }}
        </div>
      {% endif %}
    {% endif %}
  </div>
</article>
