<nav class="flex justify-between items-end">
  <div class="flex-auto flex-no-shrink flex items-end">
    <a class="dib f3 fw6 lh-solid no-underline" href="{{ site.url }}">
      <img style="min-width: 192px;" class="db" src="{{ theme.link }}/images/logo.svg" alt="MedMates">
    </a>
  </div>

  <section class="flex-no-shrink dib dn-l ml3 state-hide-child" id="mini-menu">
    <span class="db f3 lh-solid dark-gray hover-gray no-underline">
      <img style="min-width: 36px;" class="db" src="{{ theme.link }}/images/icon-menu.svg" alt="Menu" title="Menu">
    </span>

    <div style="left: 0;" class="child absolute w-100 pv4 ph3 bg-white shadow-6">
      {% for item in menu.get_items %}
        {% if loop.last %}
          <div>
            {% if user %}
              <a class="dib f3 dark-gray hover-gray no-underline" href="{{ profile_link }}">Profile</a>
            {% else %}
              <a class="dib f3 dark-gray hover-gray no-underline" href="{{ login_link }}">Log&nbsp;In</a>
            {% endif %}
          </div>
        {% endif %}

        <div>
          <a class="dib f3 dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
        </div>
      {% endfor %}
    </div>
  </section>

  {% for item in menu.get_items %}
    {% if loop.last %}
      {% if user %}
        <a class="dn dib-l ml3 mr2 f3 lh-solid dark-gray hover-gray no-underline" href="{{ profile_link }}">Profile</a>
      {% else %}
        <a class="dn dib-l ml3 mr2 f3 lh-solid dark-gray hover-gray no-underline" href="{{ login_link }}">Log&nbsp;In</a>
      {% endif %}
    {% endif %}

    {% if item.link matches "/^.*search.*$/" %}
      <a class="flex-no-shrink dn dib-l ml3 f3 lh-solid dark-gray hover-gray no-underline" href="{{ item.link }}">
        <img style="min-width: 24px;" class="db" src="{{ theme.link }}/images/icon-search.svg" alt="{{ item.title }}" title="{{ item.title }}">
      </a>
    {% else %}
      <section class="dn db-l ml3 mr2 hide-child">
        <h1 class="ma0 f3 fw4 lh-solid">
          <a class="dib dark-gray hover-gray no-underline" href="{{ item.link }}">{{ item.title }}</a>
        </h1>

        {% if item.get_children %}
          <div class="child absolute mt1 nl3 pa3 pt2 bg-white shadow-6">
            <div class="pt1"></div>
            {% for subitem in item.get_children %}
              <div>
                <a class="dib" href="{{ subitem.link }}">{{ subitem.title }}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </section>
    {% endif %}
  {% endfor %}
</nav>
