<article class="measure-wide mb4">
  <h1 class="mb3 f3 fw6 lh-title">
    <a href="{{ post.link }}">{{ post.title }}</a>
  </h1>

  <div class="mb3 f6 fw6 ttu tracked gray">Posted {{ post.post_date_gmt | time_ago }} by {{ post.author }}</div>

  <p>{{ post.preview }}</p>

  {% if post.get_thumbnail %}
    <img class="db" src="{{ post.thumbnail.src }}">
  {% endif %}
</article>
